.splitter.svelte-7pb3g9.svelte-7pb3g9{box-sizing:border-box;outline:none;overflow:hidden;height:100%;width:100%;-webkit-user-select:none;-moz-user-select:none;user-select:none}.splitter.vertical.svelte-7pb3g9.svelte-7pb3g9{cursor:col-resize}.splitter.horizontal.svelte-7pb3g9.svelte-7pb3g9{cursor:row-resize}.line.svelte-7pb3g9.svelte-7pb3g9{background:var(--splitter-line-color);transition:background-color 300ms}.splitter.vertical.svelte-7pb3g9>.line.svelte-7pb3g9{height:100%;margin-left:var(--splitter-line-margin);margin-top:0;width:var(--splitter-line-size)}.splitter.horizontal.svelte-7pb3g9>.line.svelte-7pb3g9{height:var(--splitter-line-size);margin-left:0;margin-top:var(--splitter-line-margin);width:100%}.splitter.svelte-7pb3g9:hover>.line.svelte-7pb3g9{background:var(--splitter-line-hover-color)}.splitter.svelte-7pb3g9:focus>.line.svelte-7pb3g9{background:var(--splitter-line-hover-color)}.split.svelte-9dft0e.svelte-9dft0e{width:100%;height:100%;box-sizing:border-box;outline:none;overflow:hidden;display:grid}.split.vertical.svelte-9dft0e.svelte-9dft0e{grid-template-columns:minmax(var(--min-primary-size), var(--primary-size)) var(--splitter-size)
      minmax(var(--min-secondary-size), 1fr);grid-template-rows:1fr;grid-template-areas:'primary splitter secondary'}.split.horizontal.svelte-9dft0e.svelte-9dft0e{grid-template-columns:1fr;grid-template-rows:minmax(var(--min-primary-size), var(--primary-size)) var(--splitter-size)
      minmax(var(--min-secondary-size), 1fr);grid-template-areas:'primary' 'splitter' 'secondary'}.split.svelte-9dft0e>div.svelte-9dft0e{box-sizing:border-box;outline:none;overflow:hidden;height:100%}.primary.svelte-9dft0e.svelte-9dft0e{grid-area:primary;height:100%;width:100%}.splitter.svelte-9dft0e.svelte-9dft0e{grid-area:splitter;height:100%;width:100%}.secondary.svelte-9dft0e.svelte-9dft0e{grid-area:secondary;height:100%;width:100%}.ripple.svelte-1dillie{display:block;position:absolute;top:0;left:0;right:0;bottom:0;overflow:hidden;border-radius:inherit;color:inherit;pointer-events:none;z-index:0;contain:strict}.ripple.svelte-1dillie .animation{color:inherit;position:absolute;top:0;left:0;border-radius:50%;opacity:0;pointer-events:none;overflow:hidden;will-change:transform, opacity}.ripple.svelte-1dillie .animation-enter{transition:none}.ripple.svelte-1dillie .animation-in{transition:opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1);transition:transform 0.25s cubic-bezier(0.4, 0, 0.2, 1),
			opacity 0.1s cubic-bezier(0.4, 0, 0.2, 1)}.ripple.svelte-1dillie .animation-out{transition:opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1)}.uppercase.svelte-1qnpzwq{text-transform:uppercase}.loader-left.svelte-1qnpzwq{margin-right:10px}.loader-right.svelte-1qnpzwq{margin-left:10px}button.svelte-gh44nr{border:0;padding:0;background:none;cursor:pointer}.switch.svelte-5hiimg{display:flex;flex-direction:row;align-items:center}.label.svelte-5hiimg{padding-left:10px}html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
  background-color: rgb(17, 17, 17);
}
:root {
  --app-height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  color: rgb(226, 232, 240);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.panelMarkdown {
  font-size: 16px;
  line-height: 28px;
  padding: 25px 50px 10px 50px;
}

.panelMarkdown h1 {
  margin-top: 35px;
  padding-bottom: 12px;
  border-bottom: 0.5px solid #333;
}

.panelMarkdown h2 {
  margin-top: 35px;
}

.panelMarkdown h3 {
  margin-top: 35px;
}

.panelMarkdown a {
  color: rgb(0, 138, 230);
}

.panelMarkdown code {
  background-color: rgba(138, 208, 255, 0.05);
  border-radius: 5px;
  font-size: 13px;
  padding: 3px 6px;
  border: 1px solid #333;
}

.panelMarkdown pre code {
  background-color: transparent;
  border: none;
}

.panelMarkdown pre {
  background-color: rgba(138, 208, 255, 0.05);
  border-radius: 6px;
  padding: 5px 10px;
  border: 1px solid #333;
}

.navMarkdown {
  margin: 40px 0;
  padding-top: 40px;
  padding-bottom: 20px;
  border-top: 0.5px solid #333;
}

.navMarkdown a {
  color: rgb(209, 213, 219);
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.navMarkdown a svg {
  height: 22px;
  display: inline;
  vertical-align: sub;
}

.panelCode {
  background-color: rgba(138, 208, 255, 0.1);
  border-radius: 10px;
  margin: 20px 20px 5px 5px;
  padding: 10px 10px 5px 25px;
}

.panelBottom {
  background-color: #000;
  border-radius: 3px;
  border: 0.5px solid #444;
  margin: 5px 20px 20px 5px;
  padding: 10px 10px 0px 10px;
}

.buttonAction {
  opacity: 0.8;
}

.panelBottom pre {
  font-size: 12px;
  margin-bottom: 5px;
}
:root {
  --shiki-color-text: #414141;
  --shiki-color-background: transparent;
  --shiki-token-constant: #1976d2;
  --shiki-token-string: #22863a;
  --shiki-token-comment: #aaaaaa;
  --shiki-token-keyword: #d32f2f;
  --shiki-token-parameter: #ff9801;
  --shiki-token-function: #6f42c1;
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: #212121;
  --shiki-token-link: var(--shiki-token-string);
}

.dark {
  --shiki-color-text: #d1d1d1;
  --shiki-token-constant: #79b8ff;
  --shiki-token-string: #ffab70;
  --shiki-token-comment: #6b737c;
  --shiki-token-keyword: #f97583;
  /*--shiki-token-parameter: #ff9800; is same as in light mode */
  --shiki-token-function: #b392f0;
  --shiki-token-string-expression: #4bb74a;
  --shiki-token-punctuation: #bbbbbb;
  --shiki-token-link: var(--shiki-token-string);
}

code,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  font-weight: 500;
}
